TZ=Europe/Berlin
APP_DATA_DIR=/DATA/AppData/ish-libation
BOOKS_DIR=/DATA/Media/Audiobooks/Libation
WEBUI_PORT=3000
PUID=0
PGID=0

VPN_SERVICE_PROVIDER=mullvad
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
DNS_UPSTREAM_PLAIN_ADDRESSES=10.64.0.1
FIREWALL_INPUT_PORTS=3000
FIREWALL_OUTBOUND_SUBNETS=10.64.0.1/32

# Optional Gluetun server filters. Uncomment only when needed.
# SERVER_COUNTRIES=Norway
# SERVER_CITIES=Oslo
# SERVER_HOSTNAMES=

PUBLIC_IP_URL=https://api.ipify.org?format=json
PUBLIC_IP_INTERVAL_SECONDS=300
